[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "fish_ai"
version = "0.13.2"
authors = [{ name = "Bastian Fredriksson", email = "realiserad@gmail.com" }]
description = "Provides core functionality for fish-ai, an AI plugin for the fish shell."
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
dependencies = [
  "openai==1.50.2",
  "google-generativeai==0.8.2",
  "simple-term-menu==1.6.4",
  "iterfzf==1.4.0.54.3",
  "hugchat==0.4.11",
  "mistralai==1.0.2",
  "binaryornot==0.4.4",
  "azure-ai-inference==1.0.0b4",
]

[project.urls]
"Homepage" = "https://github.com/realiserad/fish-ai"
"Bug Tracker" = "https://github.com/realiserad/fish-ai/issues"

[project.scripts]
fix = "fish_ai.fix:fix"
codify = "fish_ai.codify:codify"
explain = "fish_ai.explain:explain"
autocomplete = "fish_ai.autocomplete:autocomplete"
switch_context = "fish_ai.switch_context:switch_context"
lookup_setting = "fish_ai.config:lookup_setting"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = ["src/fish_ai/tests"]
