name: Automatic rebase
on:
  issue_comment:
    types: [created]
jobs:
  rebase:
    name: Rebase PR
    runs-on: ubuntu-latest
    if: >-
      github.event.issue.pull_request != '' &&
      (
        contains(github.event.comment.body, '/rebase') ||
        contains(github.event.comment.body, '/autosquash')
      )
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.TOKEN }}
        fetch-depth: 0
    - uses: cirrus-actions/rebase@1.8
      with:
        autosquash: ${{ contains(github.event.comment.body, '/autosquash') || contains(github.event.comment.body, '/rebase-autosquash') }}
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}