name: Supply chain security
on:
  pull_request:
  push:
    branches:
    - main
jobs:
  supply-chain-security:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install pip-audit
      run: pip3 install pip-audit
    - name: Print audit report
      run: pip-audit --strict --progress-spinner off .
